<h2>Configuracion</h2>

<div class="ui top attached segment">
    <div class="ui grid">
        <div class="{{ 8 | uiGrid }} wide column">
            <label for="tablero_ip" class="ui teal header" >Tablero Ip:</label>
        </div>

        <div class="{{ 8 | uiGrid }} wide column">
            <label for="semaforo_ip" class="ui teal header" >Semafor Ip:</label>
        </div>

        <div class="{{ 8 | uiGrid }} wide column">
            <div class="ui fluid input">
                <input type="text" ng-model="data.ip" id="tablero_ip">
            </div>
        </div>
        
         <div class="{{ 8 | uiGrid }} wide column">
            <div class="ui fluid input">
                <input type="text" ng-model="data.semaforo_ip" id="semaforo_ip">
            </div>
        </div>

    </div>    
</div>
<div class="ui bottom attached segment">
    <div class="ui grid">
        <div class="{{ 3 | uiGrid }} wide column"></div>
        <div class="{{ 16 - 6 | uiGrid }} wide column">
            <button class="fluid ui primary big button" ng-click="save()">Guardar</button>
        </div>
    </div>    
</div>
